# Getting a list of all NASDAQ and NYSE stock

In [1]:
from bs4 import BeautifulSoup
import requests
import csv
import os
import pandas as pd
import numpy as np
import json
import re
import ast
import datetime

In [2]:
ALPHA_VANTAGE = # Your API Key Here

In [3]:
# Get a list of all NASDAQ and NYSE stocks
CSV_URL = f'https://www.alphavantage.co/query?function=LISTING_STATUS&apikey={ALPHA_VANTAGE}'
with requests.Session() as s:
    download = s.get(CSV_URL)
    decoded_content = download.content.decode('utf-8')
    cr = csv.reader(decoded_content.splitlines(), delimiter=',')
    stock_list = list(cr)

In [4]:
stock_df = pd.DataFrame(stock_list[1:], columns=stock_list[0])

In [5]:
stock_df = stock_df.loc[stock_df['assetType'] == 'Stock', :]

In [6]:
stock_df = stock_df.loc[stock_df['exchange'].isin(['NYSE', 'NASDAQ']), :]

In [7]:
stock_df = stock_df[stock_df['symbol'].str.find('-') == -1]

In [8]:
stock_df = stock_df[stock_df['symbol'].str.find('/') == -1]

In [9]:
stock_df

,symbol,name,exchange,assetType,ipoDate,delistingDate,status
0,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18,null,Active
1,AA,Alcoa Corp,NYSE,Stock,2016-10-18,null,Active
4,AACG,ATA Creativity Global,NASDAQ,Stock,2008-01-29,null,Active
5,AACI,Armada Acquisition Corp I,NASDAQ,Stock,2021-11-10,null,Active
6,AACIU,Armada Acquisition Corp I - Units (1 Ord & 1/2...,NASDAQ,Stock,2021-08-13,null,Active
...,...,...,...,...,...,...,...
11614,ZXZZT,NASDAQ TEST STOCK,NASDAQ,Stock,2006-07-10,null,Active
11615,ZYME,Zymeworks BC Inc,NASDAQ,Stock,2017-04-28,null,Active
11616,ZYNE,Zynerba Pharmaceuticals Inc,NASDAQ,Stock,2015-08-05,null,Active
11617,ZYRX,Global Earnings Capital Ltd,NASDAQ,Stock,2007-07-13,null,Active
11618,ZYXI,Zynex Inc,NASDAQ,Stock,2012-07-23,null,Active

In [10]:
stock_df.to_csv(f'{str(datetime.date.today()).replace("-","")}_stocks.csv')